<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<aside id="sidebar" class="sidebar" th:fragment="sidebar">
    <div class="sidebar-inner affix-top">

        <section class="site-overview-wrap sidebar-panel sidebar-panel-active">
            <div class="site-overview" style="max-height: 585px;">
                <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <img class="site-author-image" itemprop="image" th:src="@{/blog/image/reapoker.jpg}" alt="reapoker">
                    <p class="site-author-name" itemprop="name">WN</p>
                    <p class="site-description motion-element" itemprop="description"></p>
                </div>
                <nav class="site-state motion-element">
                    <div class="site-state-item site-state-posts">
                        <a href="/archives">
                            <span class="site-state-item-count" th:text="${session.articleCount}"></span>
                            <span class="site-state-item-name">日志</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-categories">
                        <a href="/categories">
                            <span class="site-state-item-count" th:text="${session.categoryCount}"></span>
                            <span class="site-state-item-name">分类</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-tags">
                        <a href="/tags">
                            <span class="site-state-item-count" th:text="${session.tagCount}"></span>
                            <span class="site-state-item-name">标签</span>
                        </a>
                    </div>
                </nav>
            </div>
        </section>
    </div>
</aside>
</body>
</html>